* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Seen', 'strikethrough';
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    margin: auto;
  }
  
  .wrapper {
    height: 200px;
    width: 300px;
    background-color: #3760C9;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  
  .lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
  }
  
  /* Lid when closed */
  .lid.one {
    border-top: 100px solid #658ced;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
  }
  
  /* Lid when opened */
  .lid.two {
    border-top: 100px solid #3760C9;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
  }
  
  .envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    z-index: 3;
  }
  
  .letter {
    margin: auto;
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
  }
  
  .letter div {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3B4049;
  }
  
  .wrapper:hover .lid.one {
      transform: rotateX(90deg);
      transition-delay: 0s;
  }
  
  .wrapper:hover .lid.two {
      transform: rotateX(180deg);
      transition-delay: 0.25s;
  }
  
  .wrapper:hover .letter {
    transform: translateY(-140px);
    transition-delay: 0.5s;
  }
  
input {
    width: 100px;
}

button {
    border-radius: 10px;
    width: 40px;
    color: white;
    background-color: #3760C9;
    border: 2px solid #3760C9;
}

button:hover {
    border: 2px solid #658ced;
    background-color: #658ced;
}